body {
  padding-top: 70px;
}

.add-project-button a {
  text-align: center;
  display: block;
  padding: 32px 10px;
  white-space: normal;
}

.add-project-button a .glyphicon {
  font-size: 2em;
  padding: 10px;
  display: block;
}