{% extends "AegirHostmaster::layout.html.twig" %}

{% block title "Aegir - Edit Project" %}
{% block menu_active_projects "active" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'project.edit.headline'|trans({'%id%': id}, 'AegirHostmaster') }}</h1>

    <form action="{{ url('put_projects', {'id': id}) }}" method="POST" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="put" />

        {{ form_widget(form) }}

        <input type="submit" value="{% trans from 'AegirHostmaster' %}project.edit.submit{% endtrans %}">
    </form>
{% endblock %}

{% set code = code(_self) %}
